<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h2>User info</h2>
      <p><%= link_to 'ログイン', new_user_session_path, class: "btn btn-sm btn-success btn-block" %></p><br>
      <p><%= link_to '新規登録', new_user_registration_path, class: "btn btn-sm btn-info btn-block" %></p>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>ようこそ防災SNSサイトへ</h2>
      <p>ログインをしなくてもユーザーと投稿を閲覧することが可能です</p>
      <%= link_to "ユーザー一覧", users_path, class: "btn btn-sm btn-success btn-block" %>
      <%= link_to "投稿一覧", items_path, class: "btn btn-sm btn-info btn-block" %>
    </div>
  </div>
</div>